<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-slides [options]="sliderOptns" *ngIf="dataLocalServices.noticias.length === 0">
    <ion-slide>
      <ion-label>No hay favortios</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="dataLocalServices.noticias.length > 0" [enFavoritos]="true" [noticias]="dataLocalServices.noticias"></app-noticias>
</ion-content>